a,
article,
aside,
body,
br,
button,
dd,
div,
dl,
dt,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
input,
li,
ol,
p,
pre,
section,
span,
td,
textarea,
th,
tr,
ul,
video {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  font-size: 0; }

.categories-cont {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  text-align: center;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.categories__rules {
  height: auto;
  margin: 0 auto;
  padding: 1.5em;
  font-weight: bold;
  color: white; }

.categories {
  width: -webkit-calc(30% + 13em);
  width: calc(30% + 13em);
  height: auto;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #32fa64;
  padding: 1em;
  color: white;
  text-align: center; }

.categories__headline {
  text-align: center;
  font-size: 2rem; }

.categories__list {
  display: inline-block;
  padding: 0.8em;
  text-align: center; }

.categories__item {
  display: inline-block; }

.test {
  width: 100%; }

.test__headline {
  color: white;
  font-size: 1.5rem;
  margin: 0.4rem;
  text-align: center; }

.question-container {
  border: 1px solid #32fa64;
  color: white;
  margin: 0 auto;
  padding: 0.8em;
  -webkit-perspective: 200px;
          perspective: 200px;
  -webkit-perspective-origin: right;
          perspective-origin: right;
  position: relative;
  text-align: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 85%; }
  @media screen and (min-width: 560px) {
    .question-container {
      width: 93%;
      padding: 0.5em; } }
  @media screen and (min-width: 960px) {
    .question-container {
      width: -webkit-calc(18vw + 40em);
      width: calc(18vw + 40em);
      padding: 1em; } }
  @media screen and (min-width: 560px) and (max-width: 960px) and (orientation: landscape) {
    .question-container {
      font-size: 0.8rem; } }

.answer {
  width: 91%;
  height: auto;
  display: block;
  margin: 1em auto 0;
  padding: 0.5em;
  border: 1px solid #32fa64;
  font-size: 0.9rem;
  cursor: pointer;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s; }
  .answer:hover {
    border: 1px solid white; }
  @media screen and (min-width: 960px) {
    .answer {
      display: inline-block;
      height: 2em;
      margin-top: 1em;
      margin-left: 0.5em;
      padding: 0.8em 0.1em;
      vertical-align: top;
      width: 48%; } }

.js-answer--correct {
  background-color: #02a22c;
  -webkit-animation: correctAnswer;
          animation: correctAnswer;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes correctAnswer {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes correctAnswer {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.js-answer--wrong {
  background-color: #c80a22; }

.question-count {
  position: absolute;
  top: 97%;
  right: -webkit-calc(0% - 0.7em);
  right: calc(0% - 0.7em);
  padding: 0.2rem;
  font-size: 1rem;
  background-color: #32fa64;
  -webkit-transform-style: inherit;
          transform-style: inherit; }
  .question-count:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 25px;
    width: 20px;
    background-color: #02a22c;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotateY(126deg);
            transform: rotateY(126deg); }

.question-count__current {
  padding-right: 5px; }

.question-count__total {
  display: inline-block;
  padding-left: 5px; }
  .question-count__total:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 22px;
    width: 1em;
    border: 1px solid white;
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }

.btn {
  display: block;
  padding: 0.165em 0.935em;
  border-radius: 0.365em;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }

.btn__next {
  border: 1px solid #32fa64;
  border-radius: 0;
  color: #32fa64;
  font-size: 1.4rem;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 106%;
  width: 20%; }
  .btn__next:hover {
    color: white; }

.btn__select-category {
  width: 7.5em;
  margin: 0 auto 0.8em;
  background-color: #32fa64;
  color: #1c1c25;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .btn__select-category:hover {
    background-color: #02a22c;
    color: white; }

.js-btn__next--hidden {
  display: none; }

.btn__back-home {
  border: 1px solid #32fa64;
  border-radius: 0;
  color: #32fa64;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 1em;
  width: 5em; }
  .btn__back-home:hover {
    color: white; }

.score-section {
  border: 1px solid #32fa64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  height: auto;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0.5em 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: -webkit-calc(30% + 13em);
  width: calc(30% + 13em); }

.score-section__title {
  border-bottom: 1px solid #32fa64;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  width: 100%; }

.score-section__information {
  display: inline-block;
  border-right: 1px solid #32fa64;
  padding: 0.3125em; }
  .score-section__information span {
    display: block;
    font-size: 1.5em; }

.score-section__category {
  font-weight: 700; }

.score-section__score {
  display: inline-block;
  position: relative; }

.score-section__score__val {
  color: #32fa64;
  display: inline-block;
  height: 4rem;
  font-size: 3.5rem;
  text-align: center;
  width: 6rem; }
  .score-section__score__val:after {
    border: 1px solid red;
    content: '';
    display: block;
    margin-top: -35%;
    margin-left: 60%;
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
    width: 60px; }

.score-section__score__total {
  font-size: 3.5rem; }

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%; }
  @media screen and (min-width: 960px) {
    :root {
      font-size: 18px; } }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #1c1c25;
  overflow-x: hidden; }

header {
  background-color: #32fa64;
  color: #1c1d23; }
  @media screen and (min-width: 960px) {
    header {
      padding: 1em; } }

.title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    .title {
      font-size: 2rem; } }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 75vh;
  overflow: hidden; }
  @media screen and (min-width: 560px) {
    main {
      height: 100vh; } }
  @media screen and (min-width: 960px) {
    main {
      height: 75vh; } }

footer {
  background-color: #32fa64;
  height: 2.25rem;
  text-align: center;
  width: 100%; }
  footer:hover::before {
    content: '';
    position: absolute;
    background-color: #02a22c;
    left: 0;
    height: inherit;
    -webkit-animation: animateFoot;
            animation: animateFoot;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }

@-webkit-keyframes animateFoot {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes animateFoot {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
  @media screen and (min-width: 560px) and (max-width: 960px) and (orientation: landscape) {
    footer {
      margin-top: 3em; } }
  @media screen and (min-width: 960px) {
    footer {
      height: 6.25rem;
      font-size: 1.5rem; } }

.mail-link {
  color: white;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer; }

.js-hidden {
  display: none; }

.js-hide-to-left {
  position: absolute;
  left: 25%;
  -webkit-animation: hideToLeft;
          animation: hideToLeft;
  -webkit-animation-timing-function: all ease;
          animation-timing-function: all ease;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes hideToLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -150%; } }

@keyframes hideToLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    left: -150%; } }

.js-show-from-right {
  position: absolute;
  -webkit-animation: showQuestions;
          animation: showQuestions;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  right: 0; }

@-webkit-keyframes showQuestions {
  0% {
    opacity: 0;
    left: 150%; }
  100% {
    opacity: 1;
    left: 0;
    right: 0; } }

@keyframes showQuestions {
  0% {
    opacity: 0;
    left: 150%; }
  100% {
    opacity: 1;
    left: 0;
    right: 0; } }
