@import '_mixins.scss'; //styles for all btns

.btn {
    display: block;
    padding: 0.165em 0.935em;
    border-radius: 0.365em;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn__next {
    border: 1px solid #32fa64;
    border-radius: 0;
    color: #32fa64;
    font-size: 1.4rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 106%;
    width: 20%;
    &:hover {
        color: white;
    }
}

.btn__select-category {
    width: 7.5em;
    margin: 0 auto 0.8em;
    background-color: $mainGreen;
    color: $bgColor;
    transition: all ease 0.4s;

    &:hover {
        background-color: $darkGreen;
        color: white;
    }
}

.js-btn__next--hidden {
    display: none;
}

.btn__back-home {
    border: 1px solid #32fa64;
    border-radius: 0;
    color: #32fa64;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 1em;
    width: 5em;

    &:hover {
        color: white;
    }
}
