//corrcet answers counter  section
.score-section {
    width: calc(30% + 14em);
    height: auto;
    position: absolute;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid $mainGreen;
    padding: 1em 0;
    color: white;
    text-align: center;
}

.score-section__title {
    width: 100%;
    font-size: 3rem;
    border-bottom: 1px solid $mainGreen;   
}

.score-section__information {
    display: inline-block;
    border-right: 1px solid $mainGreen;
    padding-right: 0.3125em;
    
    @include tablet  {
        border: none;
        margin: 1em;
    }

    span {
    display: block;
    font-size: 2em;
    }
}

.score-section__category {
    font-weight: 700;
    }

.score-section__score {
        display: inline-block;
        position: relative;
        padding-left: 0.3125em;
        
}
.score-section__score__val {
    width: 6rem;
    font-size: 5rem;
    color: $mainGreen;
    display: inline-block;
    padding-right: 2rem;

    &:after {
    content: '';
    width: 90px;
    margin-top: -48%;
    margin-left: 70%;
    border: 1px solid red;
    transform: rotate(120deg);
    display: block;
    }
}

.score-section__score__total {
        font-size: 5em;
}