@import '_reset.scss';
@import '_colors.scss';
@import '_header.scss';
@import '_main-screen.scss';
@import '_questions.scss';
@import '_btns.scss';
@import '_score-screen.scss';
@import '_mixins.scss';

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    @include tablet {
        font-size: 14px;
    }
    @include landscape {
        font-size: 13px;
    }
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $bgColor;
    overflow-x: hidden;
}

header {
    background-color: $mainGreen;
    color: #1c1d23;
    padding: 0.265em;
}

main {
    flex: 1;
    margin-bottom: 4em;
    overflow: hidden;
    @include tablet {
        height: 90vh;
    }
}

footer {
    width: 100%;
    height: 6.25rem;
    margin-top: 20px;
    font-size: 1.8rem;
    background-color: $mainGreen;
    text-align: center;

    &:hover::before {
        content: '';
        position: absolute;
        background-color: $darkGreen;
        left: 0;
        height: 100px;
        animation: animateFoot;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    @keyframes animateFoot {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
    @include tablet {
        font-size: 1.3rem;
        height: 4.25rem;
    }
}
//common classes

.js-hidden {
    display: none;
}

.js-hide-to-left {
    position: absolute;
    left: 25%;
    animation: hideToLeft;
    animation-timing-function: all ease;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}
@keyframes hideToLeft {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: -150%;
    }
}

.js-show-from-right {
    position: absolute;
    animation: showQuestions;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    right: 0;
}
@keyframes showQuestions {
    0% {
        opacity: 0;
        left: 150%;
    }

    100% {
        opacity: 1;
        left: 0;
        right: 0;
    }
}

.mail-link {
    color: white;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
